In [17]:
import pandas as pd
df = pd.read_excel("assets/iris.xls")
X = df[["sepal width","petal length","petal width"]]
Y = df[["sepal length"]]

from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(X, Y, test_size = 0.2, random_state = 21)

# MLR Model

In [18]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
model = lm.fit(xtrain,ytrain)
pred = model.predict(xtest)

from sklearn.metrics import mean_absolute_error
MAE_MLR = mean_absolute_error(ytest, pred)

# RIDGE Model

In [19]:
from sklearn.linear_model import Ridge
rr = Ridge()

from sklearn.model_selection import GridSearchCV
param = {"alpha": [0.01, 0.02, 0.03, 0.04, 0.05, 0.06]}

cv_rr = GridSearchCV(rr,param,scoring="neg_mean_squared_error",cv=4)
model_rr = cv_rr.fit(xtrain, ytrain)
pred_rr = model_rr.predict(xtest)
MAE_RR = mean_absolute_error(ytest, pred_rr)

# LASSO Model

In [20]:
from sklearn.linear_model import Lasso
lso = Lasso()

cv_lso = GridSearchCV(lso,param,scoring="neg_mean_squared_error",cv=4)
model_lso = cv_lso.fit(xtrain, ytrain)
pred_lso = model_lso.predict(xtest)
MAE_LSO = mean_absolute_error(ytest, pred_lso)

In [23]:
print(MAE_MLR)
print(MAE_RR)
print(MAE_LSO)
print(cv_lso.best_params_)

0.25340319313625403
0.2530530879173657
0.244259865061068
{'alpha': 0.01}

In [24]:
df.head()

,sepal length,sepal width,petal length,petal width,iris,Unnamed: 5,Unnamed: 6,sepal length.1,Unnamed: 8
0,5.1,3.5,1.4,0.2,Iris-setosa,NaN,NaN,Count,150.000000
1,4.9,3.0,1.4,0.2,Iris-setosa,NaN,NaN,Minimum,4.300000
2,4.7,3.2,1.3,0.2,Iris-setosa,NaN,NaN,Maximum,7.900000
3,4.6,3.1,1.5,0.2,Iris-setosa,NaN,NaN,Mean,5.843333
4,5.0,3.6,1.4,0.2,Iris-setosa,NaN,NaN,Median,5.800000